*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    background-image: linear-gradient(to left, rgb(155, 233, 236),rgb(209, 148, 244),rgb(248, 181, 192),rgb(250, 250, 143));
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100vh;
}
header{
   font-size: 1.5rem;
}

header,
form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    cursor: pointer;
}

form button{
    padding: 1rem;
    margin: 1rem;
    color: grey;
    font-weight: 800;
    background-color: white;
    border:none;
}

form button:hover{
    color:rgb(86, 86, 86);
    cursor: pointer;
}

