*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}


body{
    background-image: url(./pictures/Railway_Background-1522.jpg);
    background-size:cover;
    background-repeat: space;
    background-position: center;
    font-size: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 3rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}

h1, 
h2{
    background: rgba(186, 179, 163, 0.5);
}

h2{
    font-size: 5rem;
    padding: 4rem;
}

button{
    display: inline-block;
    width: 200px;
    background: rgba(95, 1, 1, 0.7);
    border: ridge rgb(105, 67, 67);
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.4s ease;
    margin:2rem;
    padding: 1rem;
}

button:hover{
    background: rgba(59, 1, 1, 0.7);
    text-shadow: 0 0 7px rgb(0, 0, 0);   
}

