*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    background-image: linear-gradient(to left, rgb(155, 233, 236),rgb(209, 148, 244),rgb(248, 181, 192),rgb(250, 250, 143));
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100vh;
}
header{
   font-size: 1.5rem;
}

header,
form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button{
    background-color:rgb(245, 204, 212);
    color:rgb(74, 73, 73);
    border:none;
    cursor: pointer;
    transition: all 0.4s ease;
}

form button:hover{
    background-color:rgb(246, 185, 197) ;
    color:rgb(14, 14, 14);   
}

.todo-container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 30%;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li{
    flex: 1;
}

.del-button, 
.check-button{
 background-color: rgb(245, 204, 212) ;
 color: black;
 border: none;
 padding: 1rem;
 cursor: pointer;
 font-size: 1rem;
 transition: all 0.5s ease;
}

.del-button:hover, 
.check-button:hover{
    background-color:rgb(246, 185, 197) ;
}

.todo-item{
    padding: 0rem 0.5rem;
    
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select{
    outline: none;
    border: none;
    margin: 1rem;
    position: relative;
    overflow: hidden;
    color:rgb(246, 172, 187);
    width: 6rem;
    cursor: pointer;
}
